<div class="card">
    <div class="card-body">
        <h2>About</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat molestias quo veniam, impedit nihil quod minus voluptate deserunt voluptatibus aperiam tenetur dolor dolore nisi reprehenderit libero corrupti illo a quaerat.</p>
    </div>
</div>