<div class="jumbotron mt-4">
    <h1 class="display-4">Dashboard Notes</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, quam velit exercitationem ipsam hic voluptas
        quibusdam voluptatibus doloremque mollitia animi excepturi saepe possimus? Impedit fuga consequatur facilis enim
        numquam tenetur!</p>
    <a class="btn btn-primary" href="">FlexCodes</a>
</div>